/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map {
    width: 100vw;
    height: 100vh;
    z-index: 1;
 }

#menu {
    height: 12vh;
    max-width: fit-content;
    max-height: fit-content;
    /*width: 25vw;*/
    position: fixed;
    bottom: 0;
    background-color: #ebe5db;
    z-index: 2;
    border-radius: 10px;
    border: 3px solid #0052f5;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
 }

.select-button{
    float: left;
}
  
.select-button label {
    border: 3px solid #0052f5;
    border-radius: 10px;
    box-sizing: border-box;
    color: #332929;
    background-color: #ebe5db;
    cursor: pointer;
    display: inline-block;
    /*font-size: 24px;*/
    font-size: 3vh;
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    margin: 8px;
    min-height: 10vh;
    min-width: 10vh;
    padding-top: 3vh;
    text-align: center;
    transition: all 350ms cubic-bezier(0.165, 0.84, 0.44, 1);
    touch-action: manipulation;
    will-change: transform;
}

.select-button input {
    display: none;
}

.select-button:disabled {
    pointer-events: none;
}

.select-button label:hover {
    color: #ebe5db;
    background-color: #0052f5;
}

.select-button label:active,
.select-button input:focus + label {
    color: #ebe5db;
    background-color: #0052f5;
}

.select-button input:checked + label {
    color: #ebe5db;
    background-color: #0052f5;
}

.bus-text {
    color: #ebe5db;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-shadow: 0 0 1px #0052f5, 0 0 1px #0052f5, 0 0 1px #0052f5, 0 0 1px #0052f5;
}

.logo {
    max-height: 7vh;
    object-fit: contain;
    float: left;
    margin: 8px;
}

@media screen and (max-width: 1000px) {
    #menu {
        width: 90vw;
    }
}